coveralls.sh
.gradle
**/.gradle
**/pom.xml
build
out
wiki
**/.DS_Store
**/*java.orig
.DS_Store
**/.classpath
**/.settings
datastore-coprocessor-onprem/*.jar
**/target
**/classes
**/.DS_Store
**/.project
**/bin
**/pkg
.pydevproject
**/*.log
**/*.exe
.idea
**/idea
*.iml
**/*.iml
*.ipr
**/*.ipr
*.iws
**/*.iws
**/node_modules
**/war
tmp
# Ignore classes ending in Transient
**/*Transient.java
atlassian-ide-plugin.xml
**/.gz
**/.tar
**/.clover
**/generated*
**/*.pb
.gitignore

