<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- See http://logback.qos.ch/manual/layouts.html#PatternLayout -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{128} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.grpc" level="INFO"/>
    <logger name="org.apache.commons" level="INFO"/>

    <root>
        <!-- This is the default logger level, but classes or packages can be easily -->
        <!-- specified/added above while under dev etc -->
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

