[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
v = {editable = true,version = "*"}
pytest-grpc = "*"

[packages]
grpcio = "*"
grpcio-tools = "*"
protobuf = "*"
pyyaml = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
